html {
    background-color: whitesmoke;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3 {
    padding: 2rem 0;
    text-align: center;
}

.player-options-container {
    display: flex;
    justify-content: space-around;
}

.player-option {
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#player-option-rock {
    background-color: slategrey;
}

#player-option-paper {
    background-color: papayawhip;
}

#player-option-scissors {
    background-color: orangered;
}